{% import '_includes/forms' as forms %}

<input type="hidden" name="action" value="{{ action }}">
{% for id in elementIds %}
    <input type="hidden" name="elementIds[]" value="{{ id }}">
{% endfor %}

{% for layout in layouts %}
    <div class="update">
        <div class="update-header">
            <div class="readable left">
                <h2>Layout</h2>
            </div>
        </div>
        <div class="readable">
            {% for data in layout %}
                {% set paneContent %}
                    {% for field in data.fields %}
                        {{ forms.lightSwitchField({
                            label: field.label(),
                            name: 'fields[' ~ field.attribute() ~ ']',
                        }) }}
                    {% endfor %}
                {% endset %}
                {% include 'element-seeder/pane.twig' with {
                    content: paneContent,
                    headline: data.tab
                } %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
